// ----- Progress Tracker -----

// Based on https://github.com/christabor/css-progress-wizard but heavily reworked.

// Colours
$progress-color-dark:       #1976D2;
$progress-color:            #2196F3;
$progress-color-light:      #56ADF5;
$progress-color-grey-light: #b6b6b6;
$progress-color-grey:       #868686;
$progress-color-grey-dark:  #333333;

// Sizing
$progress-tracker-padding:  5px !default;

$marker-size:               28px !default;
$marker-size-half:          ($marker-size / 2);
$marker-size-third:         ($marker-size / 3);
$marker-size-quarter:       ($marker-size / 4);
$marker-spacing:            10px !default;

$marker-size-square:        8px !default;

$path-height:               4px !default;
$path-position:             $marker-size-half - ($path-height / 2);

$text-padding:              $marker-size-half !default;
$text-padding-X:            $marker-size-third !default;
$text-padding-Y:            $marker-size-half !default;
$text-padding--vertical:    $marker-size + $marker-size-half;



// Main element
.progress-tracker {
  display: flex;
  margin: 40px auto;
  padding: 0;
  list-style: none;
}

// Step container that creates lines between steps
  .progress-step {
    display: block;
    position: relative;
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    min-width: $marker-size; // For a flexbox bug in firefox that wont allow the text overflow on the text

    // Stops the last step growing
    &:last-child {
      flex-grow: 0;
    }

    // Path between markers, this is not created for the last step
    &:not(:last-child)::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      top: $path-position;
      bottom: $path-position;
      right: - $marker-size-half;
      width: 100%;
      height: $path-height;
    }

  }


// Progress marker
    .progress-marker {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 20;
      width: $marker-size;
      height: $marker-size;
      padding-bottom: 2px;
      font-weight: bold;
      color: #fff;
      border: 2px solid transparent;
      border-radius: 50%;
      transition: 0.3s background-color, 0.3s border-color;
    }


// Progress text
  .progress-text {
    display: block;
    padding: $text-padding-Y $text-padding-X;
    overflow: hidden;
    text-overflow: ellipsis;
  }
    .progress-title {
      margin-top: 0;
    }


// States Mixin
@mixin progress-state($marker-bg-color, $marker-border-color: null, $marker-text-color: null, $path-color: null, $text-color: null) {
  .progress-marker {
    color: $marker-text-color;
    background-color: $marker-bg-color;
    border-color: $marker-border-color;
  }

  &::after {
    background-color: $path-color;
  }

  .progress-text, a .progress-text {
    color: $text-color;
  }
}

// States
  .progress-step {

    // Inactive - Default state
    @include progress-state($progress-color-grey-light, null, #fff, $progress-color-grey-light, $progress-color-grey-dark);

    // Active state
    &.is-active {
      @include progress-state($progress-color);
    }

    // Complete state
    &.is-complete {
      @include progress-state($progress-color-dark, $path-color: $progress-color-grey);
    }

    // Hover state
    &:hover {
      @include progress-state($progress-color-light);
    }

  }



// ----- Modifiers -----

// Center align markers and text
.progress-tracker--center {

  .progress-step {
    text-align: center;

    &:last-child {
      flex-grow: 1;
    }

    &::after {
      right: -50%;
    }
  }

    .progress-marker {
      margin-left: auto;
      margin-right: auto;
    }
}


// Right align markers and text
.progress-tracker--right {

  .progress-step {
    text-align: right;

    &:last-child {
      flex-grow: 1;
    }

    &::after {
      right: calc(-100% + #{$marker-size-half});
    }
  }

    .progress-marker {
      margin-left: auto;
    }
}


// Border around steps (Only for use without text)
.progress-tracker--border {
  padding: $progress-tracker-padding;
  border: 2px solid $progress-color-grey;
  border-radius: $marker-size + ($progress-tracker-padding * 2);
}


// Spaces between markers
.progress-tracker--spaced {

  .progress-step {

    &::after {
      width: calc(100% - #{$marker-size + ($marker-spacing * 2)});
      margin-right: ($marker-size-half + $marker-spacing);
    }
  }
}


// Text below markers
.progress-tracker--text {

  .progress-step {

    &:last-child {
      flex-grow: 1;
    }
  }

}


// Text above markers
.progress-tracker--text-top {

  .progress-step::after {
    top: auto;
  }
}


// Vertical layout
.progress-tracker--vertical {
  flex-direction: column;

  .progress-step {

    &::after {
      right: auto;
      top: $marker-size-half;
      left: $path-position;
      width: $path-height;
      height: 100%;
    }
  }

    .progress-marker {
      position: absolute;
      left: 0;
    }

    .progress-text {
      padding-top: $marker-size-quarter;
      padding-left: $text-padding--vertical;
    }

    .progress-step:not(:last-child) .progress-text {
      padding-bottom: $text-padding--vertical;
    }
}





// .progress-tracker--square {

//   // .progress-step {

//   //   &::after {
//   //     top: ($marker-size-square / 2) - ($path-height / 2);;
//   //   }
//   // }

//     .progress-marker {
//       border-radius: 0;
//       // width: $marker-size-square;
//       // height: $marker-size-square;
//     }
// }

