// ----- Mixins -----
@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}


// ----- Base styles -----

// Reset the box-sizing
*,
*:before,
*:after {
  box-sizing: border-box;
}

// Body reset
html {
  font-size: 10px;
}

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  color: #333;
  background-color: #fff;
}

a {
  color: #1976D2;
  text-decoration: none;
  transition: color 0.3s;

  &:hover, &:focus {
    color: #2196F3;
  }
}

// Type
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;

  small {
    font-size: 60%;
  }
}
h1, h2, h3 {
  margin: 20px 0;
}
h4, h5, h6 {
  margin: 10px 0;
}

h1 { font-size: 38px; }
h2 { font-size: 32px; }
h3 { font-size: 26px; }
h4 { font-size: 20px; }
h5 { font-size: 16px; }
h6 { font-size: 14px; }

p {
  margin: 0 0 15px 0;
}

strong {
  font-weight: 400;
}

.btn {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #bbb;
  padding: 6px 12px;
  font-size: 18px;
  background-color: #fff;
  border-radius: 4px;
  transition: background-color .3s, color .3s;

  &:hover, &:active {
    background-color: #f3f3f3;
  }
}



// ----- Layout -----
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @include clearfix();
}

  .row {
    margin-left: -15px;
    margin-right: -15px;
    @include clearfix();
  }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
    }

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

      .col-sm-6 {
        width: 50%;
      }
      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
      }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}



// ----- Demo styling -----
// Container for each demo
.demo {
  margin: 40px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

// Blocks of code
pre {
  display: block;
  padding: 20px;
  margin: 0 0 20px 0;
  overflow: auto;
  font-family: 'Cutive Mono', monospace;
  font-size: 14px;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f3f3f3;
  border: 1px solid #bbb;
  border-radius: 4px;
}

.install-btns {
  .btn:first-child {
    margin-right: 15px;
  }
}
